extend base

block layout
  .container
    .row
      h1 Placeholder H1

      table.table.table-striped
        thead
          td Login
          td Gpa
          td Tepitech
          td Toefl
          td Year
        for user in users
          tr
            td=user.login
            td=user.gpa
            td=user.tepitechScore
            td=user.toeflScore
            td=user.year
