extend base

block layout
  .container-fluid
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading.clearfix
            h1.pull-left Epitech international wishes
            .btn-group.pull-right(style="margin-top: 20px;")
              a.btn.btn-default(href='#me') Jump to me
              a.btn.btn-success(href='/profile') Edit my profile
          .panel-body
            table.table.sortable-theme-bootstrap(data-sortable="true")
              thead
                tr
                  th(data-sortable-type="alpha") Login
                  th(data-sortable-type="numeric") GPA
                  th(data-sortable-type="numeric") Tepitech
                  th(data-sortable-type="numeric", title="The GPA is worth 65% of the final score, the Tepitech is worth 15%. The remaining 20% are givent by your local manager. Here we took the score on 80% and put it back to 100%.") Score %
                  th(data-sortable-type="numeric") Toefl
                  th(data-sortable-type="alpha") Wish 1
                  th(data-sortable-type="alpha") Wish 2
                  th(data-sortable-type="alpha") Wish 3
              for item in users
                - idName = (user.login == item.login) ? 'me' : ''
                tr(id=idName)
                  td=item.login
                  td=item.gpa
                  td=item.tepitechScore
                  - var scorePercent = (((item.gpa / 4 * 65) + (item.tepitechScore / 990 * 15)) / 80) * 100
                  - scorePercent = scorePercent.toFixed(1);
                  td=scorePercent + '%'
                  td=item.toeflScore
                  if item.universities && item.universities[0]
                    td=item.universities[0].name
                  else
                    td
                  if item.universities && item.universities[1]
                    td=item.universities[1].name
                  else
                    td
                  if item.universities && item.universities[2]
                    td=item.universities[2].name
                  else
                    td


