extend base

block layout
  .container
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading.clearfix
            h1.pull-left Edit profile
            .btn-group.pull-right(style="margin-top: 20px;")
              a.btn.btn-default(href='/') Back
              button.btn.btn-success(type='submit', form='edit_profile') Save
          .panel-body
            form(role='form' method='POST' id='edit_profile')
              fieldset
                if error
                  .alert.alert-danger=error

                .col-md-6
                  mixin selectUniversity(nb)
                    .form-group
                      label(for='wish' + nb ) Wish #{nb}
                      select.form-control.selectpicker(data-live-search="true" data-show-subtext="true" data-size="8" name='wish' + nb, id='wish' + nb, type='text', autofocus='', value=)
                        if user.universities.length >= nb
                          option(disabled) Select an option
                        else
                          option(disabled selected) Select an option

                        for university in universities
                          if user.universities.length >= nb && user.universities[nb - 1]._id.toString() === university._id.toString()
                            option(value=university._id data-subtext=university.country selected)=university.name
                          else
                            option(value=university._id data-subtext=university.country)=university.name

                  +selectUniversity(1)
                  +selectUniversity(2)
                  +selectUniversity(3)
                  +selectUniversity(4)

                .col-md-6

                  .form-group
                    label(for='login') Login
                    input.form-control(name='login', id='login', type='text', autofocus='', value=user.login, disabled)
                  .form-group
                    label(for='gpa') GPA
                    input.form-control(name='gpa', id='gpa', type='text', autofocus='', value=user.gpa)
                  .form-group
                    label(for='tepitechScore') Tepitech Score
                    input.form-control(name='tepitechScore', id='tepitechScore', type='text', autofocus='', value=user.tepitechScore)
                  .form-group
                    label(for='toeflScore') TOEFL Score
                    input.form-control(name='toeflScore', id='toeflScore', type='text', autofocus='', value=user.toeflScore)

