extend base

block layout
  .container
    .row
      .panel-body
      .col-md-3
        form(role='form' method='POST')
          fieldset
            if error
              .alert.alert-danger=error
            //.form-group
              label(for="wish1") Wish 1
              input.form-control(placeholder='', id='wish1', type='text', autofocus='', value=)
            //.form-group
              label(for="wish2") Wish 2
              input.form-control(placeholder='', id='wish2', type='text', autofocus='', value=)
            //.form-group
              label(for="wish3") Wish 3
              input.form-control(placeholder='', id='wish3', type='text', autofocus='', value=)
            //.form-group
              label(for="wish4") Wish 4
              input.form-control(placeholder='', id='wish4', type='text', autofocus='', value=)
            .form-group
              label(for='login') Login
              input.form-control(name='login', id='login', type='text', autofocus='', value=user.login, disabled)
            .form-group
              label(for='gpa') GPA
              input.form-control(name='gpa', id='gpa', type='text', autofocus='', value=user.gpa)
            .form-group
              label(for='tepitechScore') Tepitech Score
              input.form-control(name='tepitechScore', id='tepitechScore', type='text', autofocus='', value=user.tepitechScore)
            .form-group
              label(for='toeflScore') TOEFL Score
              input.form-control(name='toeflScore', id='toeflScore', type='text', autofocus='', value=user.toeflScore)
            button.btn.btn-lg.btn-success.btn-block(type='submit') Save